In [72]:
import pandas as pd
import numpy as np
import re
from lxml import etree

In [73]:
mlb = pd.read_csv('mlb.csv')
nba = pd.read_csv('nba.csv')
nfl = pd.read_csv('nfl.csv')
nhl = pd.read_csv('nhl.csv')

In [74]:
with open('wikipedia_data.html', 'r', encoding='iso-8859-1') as f:
    html = f.read()

tree = etree.HTML(html)

table  = tree.xpath('//table[@class="wikitable sortable jquery-tablesorter"]')[0]

data = []

for row in table.xpath('.//tr'):

    cells = row.xpath('.//td | .//th')
    
    row = []
    for cell in cells:
        text = cell.xpath("descendant-or-self::*/text()")

        pat1 = r'\[.*\]'
        pat2 = r'[^\x00-\x7F]+'

        res = ''.join([re.sub(pat1 + '|' + pat2, '', str.strip()) for str in text])

        row.append(res)
    data.append(row)

PopTeam = pd.DataFrame(data[1:], columns=data[0])

PopTeam.head(n=53)

,Metropolitan area,Country,Pop.rank,Population(2016 est.),B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,"20,153,634",9,GiantsJets,YankeesMets,KnicksNets,RangersIslandersDevils,11,Red BullsNew York City FC,
1,Los Angeles,United States,2,"13,310,447",8,RamsChargers,DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC,
2,San Francisco Bay Area,United States,6,"6,657,982",6,49ersRaiders,GiantsAthletics,Warriors,Sharks,7,Earthquakes,
3,Chicago,United States,3,"9,512,999",5,Bears,CubsWhite Sox,Bulls,Blackhawks,6,Fire,
4,DallasFort Worth,United States,4,"7,233,323",4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,
5,"Washington, D.C.",United States,7,"6,131,977",4,Redskins,Nationals,Wizards,Capitals,5,D.C. United,
6,Philadelphia,United States,8,"6,070,500",4,Eagles,Phillies,76ers,Flyers,5,Union,
7,Boston,United States,12,"4,794,447",4,Patriots,Red Sox,Celtics,Bruins,5,Revolution,
8,MinneapolisSaint Paul,United States,17,"3,551,036",4,Vikings,Twins,Timberwolves,Wild,5,United FC,
9,Denver,United States,20,"2,853,077",4,Broncos,Rockies,Nuggets,Avalanche,5,Rapids,
10,MiamiFort Lauderdale,United States,9,"6,066,387",4,Dolphins,Marlins,Heat,Panthers,4,,
11,Phoenix,United States,13,"4,661,537",4,Cardinals,Diamondbacks,Suns,Coyotes,4,,
12,Detroit,United States,14,"4,297,617",4,Lions,Tigers,Pistons,Red Wings,4,,
13,Toronto,Canada,10,"5,928,040",3,,Blue Jays,Raptors,Maple Leafs,5,Toronto FC,Argonauts
14,Houston,United States,5,"6,772,470",3,Texans,Astros,Rockets,,4,Dynamo,
15,Atlanta,United States,11,"5,789,700",3,Falcons,Braves,Hawks,,4,United FC,
16,Tampa Bay Area,United States,19,"3,032,171",3,Buccaneers,Rays,,Lightning,3,,
17,Pittsburgh,United States,28,"2,342,299",3,Steelers,Pirates,,Penguins,3,,
18,Cleveland,United States,33,"2,055,612",3,Browns,Indians,Cavaliers,,3,,
19,Seattle,United States,16,"3,798,902",2,Seahawks,Mariners,,,3,Sounders FC,
20,Cincinnati,United States,30,"2,165,139",2,Bengals,Reds,,,3,FC Cincinnati,
21,Kansas City,United States,32,"2,104,509",2,Chiefs,Royals,,,3,Sporting Kansas City,
22,St. Louis,United States,21,"2,807,002",2,,Cardinals,,Blues,2,,
23,Baltimore,United States,22,"2,798,886",2,Ravens,Orioles,,,2,,
24,Charlotte,United States,23,"2,474,314",2,Panthers,,Hornets,,2,,
25,Indianapolis,United States,35,"2,004,230",2,Colts,,Pacers,,2,,
26,Nashville,United States,36,"1,865,298",2,Titans,,,Predators,2,,
27,Milwaukee,United States,37,"1,572,482",2,,Brewers,Bucks,,2,,
28,New Orleans,United States,45,"1,268,883",2,Saints,,Pelicans,,2,,
29,Buffalo,United States,47,"1,132,804",2,Bills,,,Sabres,2,,
30,Montreal,Canada,15,"4,098,927",1,,,,Canadiens,3,Impact,Alouettes
31,Vancouver,Canada,24,"2,463,431",1,,,,Canucks,3,Whitecaps FC,Lions
32,Orlando,United States,25,"2,441,257",1,,,Magic,,2,Orlando City SC,
33,Portland,United States,27,"2,424,955",1,,,Trail Blazers,,2,Timbers,
34,Columbus,United States,34,"2,041,520",1,,,,Blue Jackets,2,Crew SC,
35,Calgary,Canada,39,"1,392,609",1,,,,Flames,2,,Stampeders
36,Ottawa,Canada,42,"1,323,783",1,,,,Senators,2,,Redblacks
37,Edmonton,Canada,43,"1,321,426",1,,,,Oilers,2,,Eskimos
38,Salt Lake City,United States,46,"1,186,187",1,,,Jazz,,2,Real Salt Lake,
39,Winnipeg,Canada,67,"778,489",1,,,,Jets,2,,Blue Bombers
40,San Diego,United States,18,"3,317,749",1,,Padres,,,1,,
41,San Antonio,United States,26,"2,429,609",1,,,Spurs,,1,,
42,Sacramento,United States,29,"2,296,418",1,,,Kings,,1,,
43,Las Vegas,United States,31,"2,155,664",1,,,,Golden Knights,1,,
44,Jacksonville,United States,38,"1,478,212",1,Jaguars,,,,1,,
45,Oklahoma City,United States,40,"1,373,211",1,,,Thunder,,1,,
46,Memphis,United States,41,"1,342,842",1,,,Grizzlies,,1,,
47,Raleigh,United States,44,"1,302,946",1,,,,Hurricanes,1,,
48,Green Bay,United States,,"318,236",1,Packers,,,,1,,
49,Hamilton,Canada,,"747,545",0,,,,,1,,Tiger-Cats
50,Regina,Canada,,"236,481",0,,,,,1,,Roughriders
51,Totals,,,,123,32,30,30,31,156,24,9

In [75]:
PopTeam.rename(columns={'Population(2016 est.)' : 'Population'}, inplace=True)

In [76]:
mlb = mlb[mlb['year'] == 2018]
nba = nba[nba['year'] == 2018]
nfl = nfl[nfl['year'] == 2018]
nhl = nhl[nhl['year'] == 2018]

sel_mlb = mlb[['W-L%', 'team']]
sel_nba = nba[['W/L%', 'team']]
sel_nfl = nfl[['W-L%', 'team']]
sel_nhl = nhl[['W','L', 'team']]

In [77]:
filtered_mlb = sel_mlb[~sel_mlb['team'].isin(['Atlantic Division', 'Metropolitan Division', 'Central Division', 'Pacific Division'])]
filtered_mlb.rename(columns={"W-L%": "W/L"}, inplace=True)

In [78]:
sel_nba['team'] = sel_nba['team'].str.replace( '(\*\s\((\d+)\))|(\s\((\d+)\))', '', regex=True)

C:\Users\droni\AppData\Local\Temp\ipykernel_8884\2819623865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sel_nba['team'] = sel_nba['team'].str.replace( '(\*\s\((\d+)\))|(\s\((\d+)\))', '', regex=True)

In [79]:
filtered_nfl = sel_nfl[~sel_nfl['team'].isin(['AFC North', 'AFC South', 'AFC West', 'NFC East','NFC North','NFC South', 'NFC West','AFC East'])]
filtered_nfl.rename(columns={"W-L%": "W/L"}, inplace=True)
filtered_nfl['team'] = filtered_nfl['team'].str.rstrip('*+')
filtered_nfl['W/L'] = filtered_nfl['W/L'].astype(float) 

sel_nba.rename(columns={"W/L%": "W/L"}, inplace=True)
sel_nba['W/L'] = sel_nba['W/L'].astype(float)

C:\Users\droni\AppData\Local\Temp\ipykernel_8884\912635653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nfl.rename(columns={"W-L%": "W/L"}, inplace=True)
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\912635653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nfl['team'] = filtered_nfl['team'].str.rstrip('*+')
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\912635653.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nfl['W/L'] = filtered_nfl['W/L'].astype(float)
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\912635653.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sel_nba.rename(columns={"W/L%": "W/L"}, inplace=True)
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\912635653.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sel_nba['W/L'] = sel_nba['W/L'].astype(float)

In [80]:
filtered_nhl = sel_nhl[~sel_nhl['team'].isin(['Atlantic Division', 'Metropolitan Division', 'Central Division', 'Pacific Division'])]
filtered_nhl['team'] = filtered_nhl['team'].str.rstrip('*')
filtered_nhl['W/L'] = filtered_nhl['W'].astype(int)/(filtered_nhl['W'].astype(int) + filtered_nhl['L'].astype(int))
filtered_nhl.drop(['W', 'L'], axis=1,inplace=True)

C:\Users\droni\AppData\Local\Temp\ipykernel_8884\4031804689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nhl['team'] = filtered_nhl['team'].str.rstrip('*')
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\4031804689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nhl['W/L'] = filtered_nhl['W'].astype(int)/(filtered_nhl['W'].astype(int) + filtered_nhl['L'].astype(int))
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\4031804689.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_nhl.drop(['W', 'L'], axis=1,inplace=True)

In [81]:
nfl = filtered_nfl
mlb = filtered_mlb
nhl = filtered_nhl
nba = sel_nba

PopTeam = PopTeam[['Metropolitan area', 'Population', 'NFL', 'MLB', 'NBA', 'NHL']]

In [82]:
Pop4nhl = PopTeam[['Population', 'NHL', 'Metropolitan area']]

In [83]:
Pop4nhl.rename(columns={'NHL':'team'}, inplace=True)
nhl['team'] = nhl['team'].apply(lambda x: x.split()[-1])

Pop4nhl = Pop4nhl[Pop4nhl['team'] != '']

Pop4nhl['team'] = Pop4nhl['team'].apply(lambda x: x.split()[-1])

Pop4nhl['team'] = Pop4nhl['team'].str.findall(r'[A-Z][a-z]*')
Pop4nhl = Pop4nhl.explode('team')

nhl

C:\Users\droni\AppData\Local\Temp\ipykernel_8884\3834479364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pop4nhl.rename(columns={'NHL':'team'}, inplace=True)
C:\Users\droni\AppData\Local\Temp\ipykernel_8884\3834479364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nhl['team'] = nhl['team'].apply(lambda x: x.split()[-1])

          team       W/L
1    Lightning  0.701299
2       Bruins  0.714286
3        Leafs  0.653333
4     Panthers  0.594595
5        Wings  0.434783
6    Canadiens  0.420290
7     Senators  0.394366
8       Sabres  0.357143
10    Capitals  0.653333
11    Penguins  0.618421
12      Flyers  0.617647
13     Jackets  0.600000
14      Devils  0.602740
15  Hurricanes  0.507042
16   Islanders  0.486111
17     Rangers  0.465753
19   Predators  0.746479
20        Jets  0.722222
21        Wild  0.633803
22   Avalanche  0.589041
23       Blues  0.578947
24       Stars  0.567568
25  Blackhawks  0.458333
27     Knights  0.680000
28       Ducks  0.637681
29      Sharks  0.625000
30       Kings  0.608108
31      Flames  0.513889
32      Oilers  0.473684
33     Canucks  0.436620
34     Coyotes  0.414286

In [86]:
merge = pd.merge(Pop4nhl, nhl, on='team', how='right')
# merge[merge.isna()['Metropolitan area']]
# print(merge.head(n=59))
# print(merge[['Metropolitan area', 'W/L']].sort_values(by='Metropolitan area'))
metropolitan_winrate = merge.groupby('Metropolitan area')['W/L'].mean()

Metropolitan area
Boston                    0.714286
Buffalo                   0.357143
Calgary                   0.513889
Chicago                   0.458333
Columbus                  0.600000
DallasFort Worth          0.567568
Denver                    0.589041
Detroit                   0.434783
Edmonton                  0.473684
Las Vegas                 0.680000
Los Angeles               0.622895
MiamiFort Lauderdale      0.594595
MinneapolisSaint Paul     0.633803
Montreal                  0.420290
Nashville                 0.746479
New York City             0.518201
Ottawa                    0.394366
Philadelphia              0.617647
Phoenix                   0.414286
Pittsburgh                0.618421
Raleigh                   0.507042
San Francisco Bay Area    0.625000
St. Louis                 0.578947
Tampa Bay Area            0.701299
Toronto                   0.653333
Vancouver                 0.436620
Washington, D.C.          0.653333
Winnipeg                  0.722222
Name: W/L, dtype: float64