In [2]:
import csv
# %precision 2

'%.2f'

In [8]:
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [9]:
len(mpg)

234

In [11]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [14]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [16]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [18]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [ ]:
CtyMpgByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg / cyltypecount))

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [19]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [22]:
CtyMpgByCyl = []

for t in vehicleclass:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            cyltypecount += 1
    CtyMpgByCyl.append((t, summpg / cyltypecount))

CtyMpgByCyl.sort(key=lambda x: x[1])
CtyMpgByCyl

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [23]:
import datetime as dt
import time as tm

In [24]:
tm.time()

1675190082.84

In [26]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 1, 31, 20, 36, 25, 763184)

In [27]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [29]:
today = dt.date.today()
today

datetime.date(2023, 1, 31)

In [30]:
today - delta

datetime.date(2022, 10, 23)

In [31]:
today > today - delta

True

In [32]:
class Person:
    department = 'School of Information'

    def set_name(self, new_name):
        self.name = new_name

    def set_location(self, new_location):
        self.location = new_location

In [36]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print("{} live in {} and works in the department {}".format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [38]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
list(cheapest)

[9.00, 11.00, 12.34, 2.01]